timezone: "Europe/Paris"

nextcloud:
  replicaCount: 1
  image:
    repository: "nextcloud"
    flavor: fpm
    tag: "32.0.4"
  host: ""
  service:
    type: ClusterIP
  port: 9000 
  ingress:
    enabled: false
    annotations: {}
  admin:
    user: admin
    password: changeme
  smtp:
    enabled: false
    host: "" # hostname of the SMTP server.
    secure: "" # Set to ssl to use SSL, or tls to use STARTTLS.
    port: "" # Optional port for the SMTP connection. Use 587 for an alternative port for STARTTLS.
    authType: "" # (default: LOGIN) The method used for authentication. Use PLAIN if no authentication is required.
    name: "" # The username for the authentication.
    password: "" # The password for the authentication.
    fromAddress: "" # Set the local-part for the 'from' field in the emails sent by Nextcloud.
    mailDomain: ""
  phoneRegion: FR
  defaultLanguage: fr
  defaultLocale: fr-FR
  apps:
    update: false
    install: []
  persistence:
    config:
      enabled: false
      accessMode: ReadWriteOnce
      size: 5Gi
      storageClass: ""
    data:
      enabled: false
      accessMode: ReadWriteOnce
      size: 5Gi
      storageClass: ""
      hostPath: ""
      dir: /var/www/html/data
    hooks:
      enabled: false
      accessMode: ReadWriteOnce
      size: 1Gi
      storageClass: ""
  trustedDomains: []
  trustedProxies: []
  overwriteprotocol: https
  gpu:
    nvidia: 0
  php:
    memoryLimit: 1G
    uploadLimit: 10G
  # securityContext:
  #   runAsUser: 33
  #   runAsGroup: 33
  #   runAsNonRoot: true
  job:
    cron: "0 2 * * *"
    script: |
      #!/bin/sh
      echo "$(date) : Begining of cron..."
      echo "$(date) : End of cron."
    resources:
      limits:
        nvidia.com/gpu: 0
      #   cpu: 500m
      #   memory: 1Gi
      requests:
        nvidia.com/gpu: 0
      #   cpu: 500m
      #   memory: 500Mi
  resources:
    limits:
      nvidia.com/gpu: 0
    #   cpu: 500m
    #   memory: 1Gi
    requests:
      nvidia.com/gpu: 0
    #   cpu: 500m
    #   memory: 500Mi

postgresql:
  enabled: false
  storageClass: ""
  password: changeme

redis:
  enabled: false
  architecture: standalone
  global:
    defaultStorageClass: ""
    redis:
      password: changeme
  master:
    persistence:
      storageClass: ""

nginx:
  enabled: false
  replicaCount: 1
  repository: "nginx"
  tag: "1.27.3-alpine"
  service:
    type: ClusterIP

httpd:
  enabled: true
  replicaCount: 1
  repository: "httpd"
  tag: "2.4.62-alpine"
  service:
    type: ClusterIP

clamav:
  enabled: false
  replicaCount: 1
  repository: "nextcloud/aio-clamav"
  tag: "20250225_125724"
  uploadLimit: 1G
  persistence:
    enabled: true
    storageClass: ""
    size: 20Gi
  service:
    type: ClusterIP
  resources:
    limits:
      cpu: 500m
      memory: 750Mi
    requests:
      cpu: 100m
      memory: 200Mi

collabora:
  enabled: false
  replicaCount: 1
  repository: "collabora/code"
  tag: "24.04.10.2.1"
  dictionaries: de_DE en_GB en_US es_ES fr_FR it nl pt_BR pt_PT
  service:
    type: ClusterIP
  resources:
    limits:
      cpu: 250m
      memory: 500Mi
    requests:
      cpu: 100m
      memory: 200Mi

onlyoffice:
  enabled: false
  replicaCount: 1
  repository: "onlyoffice/documentserver"
  tag: "8.2.2"
  secret: "changeme"
  persistence:
    enabled: false
    storageClass: ""
    size: 1Gi
  service:
    type: ClusterIP
  resources:
    limits:
      cpu: 500m
      memory: 750Mi
    requests:
      cpu: 100m
      memory: 200Mi

imaginary:
  enabled: false
  replicaCount: 1
  repository: "nextcloud/aio-imaginary"
  tag: "20250114_092611"
  secret: "changeme"
  service:
    type: ClusterIP
  resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 100m
      memory: 200Mi

fulltextsearch:
  enabled: false
  replicaCount: 1
  password: "changeme"
  persistence:
    enabled: true
    storageClass: ""
    size: 10Gi
  repository: "elasticsearch"
  tag: "8.15.3"
  service:
    type: ClusterIP
  resources:
    limits:
      cpu: 250m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 200Mi

whiteboard:
  enabled: false
  replicaCount: 1
  repository: "ghcr.io/nextcloud-releases/whiteboard"
  tag: "v1.0.4"
  service:
    type: ClusterIP
  secret: "changeme"
  resources:
    limits:
      cpu: 250m
      memory: 500Mi
    requests:
      cpu: 100m
      memory: 200Mi

memories:
  enabled: false
  replicaCount: 1
  repository: "radialapps/go-vod"
  tag: "0.2.5"
  service:
    type: ClusterIP
  gpu:
    nvidia: 0
  resources:
    limits:
      nvidia.com/gpu: 0
      cpu: 500m
      memory: 1Gi
    requests:
      nvidia.com/gpu: 0
      cpu: 250m
      memory: 500Mi

facerecognition:
  enabled: false
  replicaCount: 1
  repository: "matiasdelellis/facerecognition-external-model"
  tag: "v1"
  service:
    type: ClusterIP
  facemodel: 3
  secret: changeme
  gpu:
    nvidia: 0
  resources:
    limits:
      nvidia.com/gpu: 0
      cpu: 500m
      memory: 1Gi
    requests:
      nvidia.com/gpu: 0
      cpu: 250m
      memory: 500Mi
