global:
  timezone: "Europe/Paris"
  pvc:
    storage:
      size: "1Gi"
      storageClassName: ""
      accessMode: "ReadWriteOnce" 
  ingress:
    className: traefik
  rbac:
    enabled: false

addons:
  vscode:
    enabled: false
    image:
      repository: lscr.io/linuxserver/code-server
      tag: 4.105.1
    service:
      port: 8443
    ingress:
      enabled: false
  redis:
    enabled: false
    name: redis
    image:
      repository: redis
      tag: 8.2.2-alpine
    port: 6379
  pgadmin:
    enabled: false
    image:
      repository: dpage/pgadmin4
      tag: 9.9.0
    auth:
      email: test@test.com
      password: changeme
    ingress:
      enabled: false
    service:
      port: 80
  postgres:
    enabled: false
    storage:
      size: "1Gi"
      storageClassName: ""
    image:
      repository: ghcr.io/cloudnative-pg/postgresql
      tag: 17
    cluster:
      username: changeme
      password: changeme